body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.col-md-5 {
  position: relative;
  height: 100%;
}

.footer {
  background: rgb(3, 11, 1);
  background: linear-gradient(
    0deg,
    rgba(24, 73, 12, 1) 0%,
    rgba(236, 236, 236, 1) 80%
  );

  height: 160px;
}

[class*='row no-gutters flex-wrap'] {
  background-color: #e9ecef;
}

.about-img {
  width: 13rem;
}
.single-award-recipient-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.single-award-img {
  width: 55vw;
  object-fit: cover;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.centered {
  display: flex;
  align-items: center;
}

.award-image {
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.user-dash-img {
  width: 125px;
  height: 125px;
  object-fit: cover;
}

.user-award {
  border: #5cb85c;
  border-radius: 5px;
}

.award-card-container {
  display: flex;
  max-height: 500px;
  justify-content: center;
}
.award-card {
  height: 400px;
  min-width: 30vw;
  max-width: 350px;
  align-self: center;
}
.top-three-container {
  display: flex;
  justify-content: center;
}
.top-three {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
